/* Adicione ao final do seu arquivo style.css */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #ffefdb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #007BFF;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f9fa;
    text-align: left;
}
img{
    width: 50%;
}

/* Estilização para dispositivos móveis */
@media only screen and (max-width: 500px) {
    .container {
        width: 90%;
    }

    input {
        width: calc(100% - 16px);
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }
}

/* Estilos para a caixa pop-up */
.popup {
    display: none; /* Inicia escondida */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fundo semi-transparente */
    z-index: 9999; /* Z-index alto para ficar sobre tudo */
    overflow: auto;
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 80%;
    text-align: center;
    position: relative;
}

.popup-content h2 {
    color: #007BFF;
    margin-bottom: 10px;
}

.popup-content ul {
    text-align: left;
    padding-left: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
